/*
Copyright 2019, Paul Morris

This file is part of The Caller's Extension.

The Caller's Extension is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

The Caller's Extension is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with The Caller's Extension.  If not, see <https://www.gnu.org/licenses/>.
*/

/* Variables */

:root {
  --light-grey: #ccc;
  --light-border: 1px solid var(--light-grey);
  --light-background: #f3f3f3;
  --section-padding: 15px;
  --left-column-width: 250px;
  --non-left-column-width: calc(100% - var(--left-column-width));
}

/* Overrides and resets */

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Layout structure */

.leftColumn {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--section-padding);
  width: calc(var(--left-column-width) - var(--section-padding) * 2);
  border-right: var(--light-border);
  background: var(--light-background);
}
.middleColumn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--left-column-width) + 1px);
  width: calc(var(--non-left-column-width) * 0.55 - 1px);
  background: #fcfcfc;
}
.rightColumn {
  border-left: var(--light-border);
  position: fixed;
  top: 0;
  right: 0;
  width: calc(var(--non-left-column-width) * 0.45);
  bottom: 0;
  background: var(--light-background);
  padding-top: var(--section-padding);
}

/* Left column header */

.appTitle {
  font-weight: bold;
  margin: 0 0 0.5em;
  font-size: 16px;
}
.appSubtitle {
  margin: 1em 0px;
  font-size: 13px;
}
.callersBoxLink {
  color: inherit;
}
.showOnlyMarkedDancesButton {
  margin-bottom: 1em;
}

/* Search form */
.searchLabelContainer {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-size: 14px;
}
.searchFormSelectInput,
.searchFormTextArea,
.searchFormTextInput {
  font-size: 14px;
}
.searchFormSelectInput {
  width: calc(var(--left-column-width) - var(--section-padding) * 2);
}
.searchFormTextArea {
  /* 6px for 2px padding and 1px border */
  width: calc(var(--left-column-width) - 6px - var(--section-padding) * 2);
  margin-top: 0.6em;
}
.searchFormTextInput {
  /* 14px for 6px padding and 1px border */
  width: calc(var(--left-column-width) - 14px - var(--section-padding) * 2);
  border: 1px solid #929292;
  padding: 4px 6px;
  border-radius: 3px;
  background: #fff;
  font-size: 14px;
}
.searchFormRadioInput {
  display: block;
  cursor: pointer;
}
.aboutLink {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5rem;
  font-size: 12px;
  color: inherit;
}

/* Search results */

.danceListInfo {
  padding: calc(var(--section-padding) / 2) var(--section-padding);
  border-bottom: var(--light-border);
}
.searchResults {
  width: 100%;
  border-collapse: collapse;
}

.deprecated {
  background-color: #ddd;
  margin-left: 0.5em;
}
.resultsTableCell {
  border-bottom: var(--light-border);
  padding: 4px;
  vertical-align: middle;
}
.resultsTableCell:first-child {
  padding-left: var(--section-padding);
}
.resultsTableCell:last-child {
  padding-right: var(--section-padding);
}

.badge {
  color: green;
}
.linkText {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.tcb {
  font-size: small;
}
.tcb > a {
  color: #666 !important;
}
.author {
  font-size: small;
}
.formation {
  color: #666;
  font-size: small;
}

/* Dance detail panel */

/* Styles from the Caller's Box */
div.box {
  border-top: 1px solid var(--light-grey);
  padding: 0.4em;
  padding-left: var(--section-padding);
  margin: 0.8em 0;
}
table#phrases {
  border-spacing: 0.3em 0.8em;
}
table#phrases td p {
  margin: 0;
}
a.gloss {
  color: inherit;
  text-decoration: green dotted underline;
}
a.gloss:hover {
  background-color: yellow;
}
/* End styles from the Caller's Box */

.loadingDanceMessage {
  margin-top: 0;
}

.rightColumn p {
  padding-left: var(--section-padding);
}
.rightColumn h1 {
  font-size: 21px;
  padding-left: var(--section-padding);
  margin-top: 0;
}
.rightColumn h2 {
  font-size: 16px;
  margin: 0;
}

/* marked dances toggle widget */

.markedToggle,
.notMarkedToggle,
.pendingMarkedToggle {
  height: 1em;
  width: 1.5em;
  border-radius: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
.markedToggle {
  background: #618c61;
  border: 1px solid #618c61;
}
.notMarkedToggle {
  background: #ccc;
  border: 1px solid #999;
}
.pendingMarkedToggle {
  background: #fff984;
  border: 1px solid #999;
}
